
<body>



<h1>{{title}}</h1>
<h3>A place to store your todos</h3>


<div>
  Search: <input type="text" name="find"/>
  <button (click)="search(find)">Go</button>
</div>

<ul>
  <div *ngIf="tasks.length > 0; else elseBlock">
    <div *ngFor="let item of tasks">
    
      <li *ngIf="item.completed==false">
        {{item.task}}  
        <button (click)="finish(item)" *ngIf="item.completed == false"> Done</button>

      </li>
  
      <li *ngIf="item.completed==true" style="text-decoration:line-through">
        {{item.task}}
        <button (click)="removeItem(item)">Delete</button>

      </li>
  
      <li *ngIf="item.task == undefined">
        <div *ngIf="tasks == undefined || !tasks?.count > 0">All done!</div>

      </li>


    </div>
  </div>

  <ng-template #elseBlock>ALL DONE</ng-template>

</ul>

<br/>
<br/>
<p>
  Add Task: <input type="text" name="task" #userinput ng-model="item.task"/>
  <button (click)="add(userinput.value); userinput.value=''">Add</button>
</p>

<!--
Completed: <input type="checkbox" id="completed" name="completed" ng-model="tasks.completed"/>
-->


</body>
<!--
The current count is <span class="redtext">{{counter}}</span>. <br/><br/>
<button class="greentext" (click)="testclick()">BEEP</button>
<button class="redtext" (click)="testerclick()">BOOP</button>

<div *ngFor="let person of people">
  Hello {{person.firstName}} {{person.lastName}}
</div>

<script>
  function ChangeToRed(){
    var x = document.getElementsByClassName("redtext");
    if(x.class == "greentext"){
      x.class = "redtext";
    }
    else{
      x.class = "redtext"
    }

  }

</script>

<script>
  function ChangeToGreen(){
    var x = document.getElementsByClassName("redtext")
    if(x.class == "redtext"){
      x.class = "greentext";
    }
    else{
      x.class = "greentext"
    }

  }

</script>
-->
